<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>insira as informaçoes do seu jogo</h1>

    <form method="POST" action="/post" id="form" enctype="multipart/form-data">
        <input type="text" name="name" id="name" placeholder="nome do jogo">
        <input type="number" name="price" id="price" placeholder="precoJogo">
        <input type="file" name="fileGame" id="file" placeholder="Arquivos do jogo">

        <input type="submit" value="Postar Jogo">
    </form>



    <script src="../api/index.js"></script>
</body> 
</html>